node_modules
dist
build
coverage
storybook-static
*.local
.DS_Store
*.log
.turbo
.vite
playwright-report
test-results
benchmarks/results/tmp
packages/benchmarks/results/tmp
*.tsbuildinfo
.eslintcache
.vscode/*
!.vscode/extensions.json
.idea
.env
.env.*
!.env.example
apps/storybook/storybook-static
